<section>
    <div class="hero-404 relative py-10">
        <div class="container">
            <div class="w-full d-flex justify-end">
                <div class="w-50 mobile-full">
                    <div class="text-404-container">

                        <h1 class="text-404">404</h1>
                        <h4 class="page-not-found-text m-0 p-0 ">Page non trouvée</h4>
                    </div>
                    <p class="m-0 p-0 ">La page que vous recherchez n'existe pas ou a été déplacée</p>
                    <div class="mt-4">
                        <a href="{{ url_for('home') }}" class="decoration-none">
                        <button type="button" class="btn btn-secondary mt-4" title="back to home">Aller à la page
                            d'accueil

                            <svg width="17" height="18" viewBox="0 0 19 20" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <circle cx="9.5" cy="9.71094" r="9.5" fill="#335B6B" />
                                <path d="M9.47641 6.33984L12.871 9.40436L9.47641 12.4689M12.3995 9.40436H5.51611"
                                    stroke="white" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>

                        </button>
                    </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>