<section>
    <div class="container d-flex justify-center py-5">
        <div class="w-90 mobile-full">
            <div class="d-flex flex-columns gap-6">
                    <div class="d-flex justify-between gap-4 items-center mobile-columns ">
                        <div class="d-flex flex-columns gap-4 w-50 mobile-full">
                            <label for="name" class="text-sm font-bold">Prénom(s) & Nom(s)*</label>
                            <input type="text" id="name" class="form-input border" placeholder="Mettez votre nom et prénom">
                        </div>
                        <div class="d-flex flex-columns gap-4 w-50 mobile-full">
                            <label for="email" class="text-sm font-bold">Email*</label>
                            <input type="text" id="email" class="form-input border" placeholder="example@votremail.com">
                        </div>
                    </div>
                    <div class="d-flex justify-between gap-4 items-center mobile-columns ">
                        <div class="d-flex flex-columns gap-4 w-50 mobile-full">
                            <label for="entrprise" class="text-sm font-bold">Entreprise</label>
                            <input type="text" id="entrprise" class="form-input border" placeholder="Le nom de votre entreprise">
                        </div>
                        <div class="d-flex flex-columns gap-4 w-50 mobile-full">
                            <label for="object" class="text-sm font-bold">Objet du message*</label>
                            <input type="text" id="object" class="form-input border" placeholder="Comment on peut vous aider ?">
                        </div>
                    </div>
                    <div class="d-flex flex-columns gap-4 w-100 ">
                        <label for="message" class="text-sm font-bold">Message*</label>
                        <textarea rows="8" id="message" class="form-input border" placeholder="Mettez ici le contenu de votre message"></textarea>
                    </div> 
                    <div class="mobile-full">
                        <button type="button" title="send-message" id="btn-send-message"  class="btn btn-secondary mobile-full">Envoyer Message</button>
                    </div>
            </div>
        </div>
    </div>
</section>