<section>
    <div class="container d-flex justify-center py-5 items-center">
        <div class="newsletter-card w-90 py-5 px-5 mobile-full">
            <div class="d-flex mobile-columns justify-between items-center mobile-items-start">
                <div class="w-40 mobile-full">
                    <h3 class="text-newsletter text-start mobile-text-center">S’inscrire à notre Newsletter</h3>
                </div>
                <div class="mobile-full">
                    <div class="d-flex gap-2 items-center mobile-columns mobile-items-start mobile-full">
                        <div class="mobile-full">
                            <input placeholder="votre-email" class="form-input mobile-96" />
                        </div>
                        <button type="button" class="btn btn-secondary  mobile-full">S’inscrire</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>