<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/style.css">
  <link rel="stylesheet" href="/static/css/custom.css">
  <link rel="stylesheet" href="/static/css/screens.css">
  <link rel="apple-touch-icon" sizes="180x180" href="/static/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/favicons/favicon-16x16.png">
  <link rel="manifest" href="/static/favicons/site.webmanifest">
  <title>
    {% block title %}
    Acceuil
    {% endblock title %}
  </title>
</head>

<body>
  {% include "components/navbar.html" %}
  <main>
    {% block content %}

    {% endblock content %}
  </main>
  {% block newsletter %}
  {% include "pages/sections/newsletters.html" %}
  {% endblock newsletter %}
  {% include "components/footer.html" %}
</body>

</html>