<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/custom.css">
    <link rel="stylesheet" href="/static/css/screens.css">
    <title>
        {% block title %}
          Acceuil
        {% endblock title %}
    </title>
</head>
<body>
    {% include "components/navbar.html" %}
    <main>
        {% block main %}
          
        {% endblock main %}
    </main>
    {% block newsletter %}
      {% include "pages/sections/newsletters.html" %}
    {% endblock newsletter %}
    {% include "components/footer.html" %}
</body>
</html>