<header>
    <nav class="container">
        <div class="d-flex flex-wrap justify-between items-center py-5 ">
            <a class="logo-container d-flex gap-1 items-center" href="/">
                <img class="nav-logo" src="/static/images/logo.svg" alt="logo" />
                <h3 class="text-logo m-0">Organick</h3>
            </a>
            <div>
                <button type="button" title="menu" class="p-0 bg-tansparent border-none cursor-pointer btn-menu-nav d-none mobile-block">
                    <svg width="50px" height="40px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g id="Menu / Menu_Alt_01">
                        <path id="Vector" d="M12 17H19M5 12H19M5 7H19" class="stroke-primary" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </g>
                        </svg>
                </button>
                <ul class="d-flex gap-4 nav-items mobile-none">
                    <li class="nav-item"><a href="/" class="nav-link">Acceuil</a></li>
                    <li class="nav-item"><a href="/" class="nav-link">A propos</a></li>
                    <li class="nav-item"><a href="/" class="nav-link">Services</a></li>
                    <li class="nav-item"><a href="/" class="nav-link">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>