<header>
    <nav class="container">
        <div class="d-flex flex-wrap justify-between items-center py-10 ">
            <a class="logo-container d-flex gap-1 items-center" href="/">
                <img class="nav-logo" src="/static/images/logo.svg" alt="logo" />
                <h3 class="text-logo m-0">Organick</h3>
            </a>
            <div>
                <ul class="d-flex gap-4 nav-items">
                    <li class="nav-item"><a href="/" class="nav-link">Acceuil</a></li>
                    <li class="nav-item"><a href="/" class="nav-link">A propos</a></li>
                    <li class="nav-item"><a href="/" class="nav-link">Services</a></li>
                    <li class="nav-item"><a href="/" class="nav-link">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>